html, body {
    margin:0px;
    height:100%;
    background-color: #27273b;
    scroll-behavior: smooth;
}

button {
    color: white;
}

/*Nav bar*/

#nav-bar{
    background: #090911;
    opacity : 0.9;
    width: 100vw;
    top: 0px;
    position: fixed;
    z-index: 1;
}

#nav-obj {
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-link {
    color: white;
    margin-left : 50px;
    font-family: Tahoma;
    font-size: 17px;
    padding-bottom: 8px;
}

.nav-link{
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;;
}

#logo{
    color: white;
    font-family: Tahoma;
    font-weight: 540;
}

.topnav div{
    display: flex;
    float: right;
}

#logo {
    text-decoration: none;
    font-size: 19px;
}

.nav-link:hover{
    color: white;
    border-bottom: 3px solid #bfc7ab;
}


/*Home*/

.box {
    background-image: url('https://i.imgur.com/C3SzpGY.png');
    background-size: cover;
    background-position: 50% 50%;
    height : 100%;
    position: relative;
}

.center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hp-title {
    font-size: 118px;
    font-family: "Courier New";
    font-weight: lighter;
    color: white;
}

.box h1{
    overflow: hidden;
    border-right: .07em solid #9f849c;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .08em;
    animation: 
      typing 3s steps(80, end),
      blink-caret 1.5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #9f849c; }
}

#hp-intro {
    padding-top: 30px;
    font-size: 23px;
    font-family: Trebuchet MS;
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}

#about h2, #cv h2, #projects h2{
    font-family: Courier;
    font-style: bold;
    font-size: 36px;
    text-align: center;
    font-weight: lighter;
}

/*About*/
#about {
    padding-top: 110px;
    padding-bottom: 30px;
    margin-left: 18vw;
    margin-right: 18vw;
}

#about h2 {
    padding-bottom: 5px;
}

#about-content{
    display: flex;
}

#about-media {
    width : 150px;
    position: relative;
}

#about-media img {
    height: 150px;
    width : 150px;
    object-fit: cover;
    border-radius: 50%;
    padding-top: 5px;
}

#about-links {
    padding-top: 18px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
}

#about-links i {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
}

#about #about-text{
    padding-left: 80px;
}

#about h2 {
    color: white;
    font-family: Courier;
    font-style: bold;
    font-size: 36px;
}

#about p {
    color: white;
    font-family: sans-serif;
    padding-bottom: 14px;
    line-height: 1.6;
    text-align: left;
    font-size: 17px;
}

#about-text button{
    background-color: #be98be;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Trebuchet MS;
    font-size : 17px;
    border-radius: 4px;
}

#about-text a{
    text-decoration: none;
}


#about-text button:hover {
    background-color: #c1adbd;
    text-decoration: none;
}

/*cv*/
#cv {
    color: white;
    padding-left: 20vw;
    padding-right: 18vw;
    padding-top: 100px;
    padding-bottom: 30px;
}


#cv h3{
    font-family: 'Trebuchet MS';
    font-size: 24px;
    padding-bottom: 7px;
    border-bottom-style: solid;
    border-bottom-color: #aa91af;
    width: fit-content;
    border-bottom-width: 3px;
    font-weight: lighter;
}

#cv h4 {
    font-size: 20px;
    font-family: 'Trebuchet MS';
    padding-top: 5px;
    font-style: bold;
    font-weight: lighter;
}

#cv p {
    font-size: 16.5px;
}

.position h4 {
    border-bottom-style: solid;
    border-bottom-color: #aa91af;
    width: fit-content;
    padding-bottom: 4px;
}

#cv h5 {
    font-size: 17px;
    font-family: sans-serif;
    font-style: bold;
    font-weight: lighter;
}

#cv li {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 16.5px;
}

#cv li::marker {
    content: "✬";
}

#skills, #work {
    padding-top: 40px;
}

#work2 {
    padding-top: 20px;
}


/*Projects*/
#projects {
    padding-left: 18vw;
    padding-right: 18vw;
    padding-top: 100px; 
    color: white;
    padding-bottom: 130px;
}

.project {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project img{
    height: 150px;
    width : 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
}

.project-text {
    padding-left: 80px;
}

.project-text h3 {
    font-family: 'Trebuchet MS';
    font-size: 26px;
    padding-bottom: 7px;
    border-bottom-style: solid;
    border-bottom-color: #aa91af;
    width: fit-content;
    border-bottom-width: 3px;
    padding-top: 10px;
    font-weight: lighter;
}

.project-text p {
    font-family: sans-serif;
    font-size: 16.5px;
}

#muse-text {
    display: block;
}

.project-btns button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Trebuchet MS;
    font-size : 16px;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
}

.project-text p {
    padding-bottom: 7px;
    line-height: 1.7;
}

.project-btns a {
    padding-right: 40px;
}

#mlh-text p a{
    color: white;
}

.repo {
    background-color: #23272A;
}

.repo:hover {
    background-color: #2C2F33;
}

.invite {
    background-color: #5865F2;
}

.invite:hover {
    background-color: #5e7df0;
}

.devpost {
    background-color: #729aa1;
}

.devpost:hover {
    background-color: #86afb6;
}


